[Desktop Entry]
Version=1.0
Type=Application
Name=FreeDink
Comment=Humorous top-down adventure & role-playing game
Exec=freedink
Icon=freedink
Categories=Game;AdventureGame;ActionGame;RolePlaying;
Keywords=smallwood;duck;pillbug;
